<div class="container">
<ul class="nav navbar-nav navbar-right">
  <li class="nav-item">
    <%= link_to "Home",root_path, :class => "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "New", new_post_path, :class => "nav-link" %>
  </li>
</ul>
</div>
